<h1><span data-i18n="skills.my_skills">About</span></h1>

<img src="/img/about.jpeg" alt="" style="margin-bottom: 30px;">

<div>
    I am a Ph.D. candidate at the Seoul National University focusing on Human-Computer Interaction and User Experience. My research interests lie in data-driven behavior analysis and user modeling. I have experience in the entire data lifecycle, starting from identifying behaviors of interest, collecting and quantifying related data, to analyzing and providing meaningful insights from the data. Currently, I am finishing up my thesis on identifying and collecting quantifiable behavior data to assist in improving the understanding of user behaviors. Aside from research, my hobbies include mobile filmmaking and ultimate (flying disc sport), which I play competitively. I have had the priveledge to represent my country as a member of the Korea national team for various Asia-Oceania and Worlds events.

    <br \><br \> <a href="https://d.pr/f/aizg3y" target="_blank" style="font-weight: 700;"><i class="fa fa-file-pdf-o">  CV <span style="font-style: italic; font-size: 14px">&mdash; updated January 3rd, 2022</span></i></a>
</div>
