<h1><span data-i18n="skills.my_skills">About</span></h1>

<img src="/img/about.jpeg" alt="" style="margin-bottom: 30px;">

<div>
    I am a Ph.D. candidate at the Seoul National University focusing on Human-Computer Interaction and User Experience. My research interests lie in data-driven behavior analysis and user modeling. Currently, I am finishing up my thesis (expected graduation Aug. 2022) on identifying and collecting quantifiable behavior data to assist in understanding of user behaviors. As a UX researcher, I am passionate about using data-driven insights to understand users, improve products to support their needs, and ultimately create an efficient and elevated experience.
    <br \><br \>
    Outside of work, my hobbies include cooking, mobile filmmaking, and ultimate (flying disc sport), which I play competitively. I have had the priveledge to represent my country as a member of the Korea national team for various Asia-Oceania and Worlds events.
    <br \><br \> <a href="https://d.pr/f/9piT4I" target="_blank" style="font-weight: 700;"><i class="fa fa-file-pdf-o">  CV <span style="font-style: italic; font-size: 14px">&mdash; updated January 19th, 2022</span></i></a>
</div>
