<h1><span data-i18n="skills.my_skills">About</span></h1>

<img src="/img/about.jpeg" alt="" style="margin-bottom: 30px;">

<div>
    I am a UX Researcher working for UniProt at EMBL-EBI, the European Bioinformatics Institue of the European Molecular Biology Laboratory. Prior to working at EMBL-EBI I was pursuing my Ph.D. at Seoul National University, focusing on data-driven behavior analysis and user modeling. As a UX researcher I take a mixed-methods approach to my work, combining quantitative data analysis with user interviews and insights. I am passionate about using data-driven insights to understand users, improve products to support their needs, and ultimately create an efficient and elevated experience.
    <br \><br \>
    Outside of work, my hobbies include coffee and ultimate (flying disc sport), which I play competitively. I have had the priveledge to represent my country as a member of the Korea national team for various Asia-Oceania and Worlds events.
    <br \><br \> <a href="https://d.pr/f/W2rk9y" target="_blank" style="font-weight: 700;"><i class="fa fa-file-pdf-o">  CV <span style="font-style: italic; font-size: 14px">&mdash; updated January 19th, 2022</span></i></a>
</div>
