<h1><span data-i18n="skills.my_skills">Publications</span></h1>

{% for project in site.data.index.publications %}
    <div class="row">
            <div class="col">
                <p style="margin: 0;">{{ project.authors }}</p>
                <p style="margin: 0; font-weight: 700;">{{ project.name }}</p>

                {% if project.github %}
                <a href="{{ project.github }} "><i class="fa fa-fw fa-github"></i>GitHub</a>
                {% endif %}
                {% if project.website %}
                <a href="{{ project.pdf }} "><i class="fa fa-fw fa-home"></i>[PDF]</a>
                {% endif %}
                {% if project.award %}
                <p style="margin: 0;">{{ project.descr }}</p>
                <p style="margin: 0 0 20px 0; color: #8C7FD8; font-weight: 700;">{{ project.award }}</p>
                {% else %}
                <p style="margin: 0 0 20px 0;">{{ project.descr }}</p>
                {% endif %}

            </div>
    </div>
{% endfor %}
